.grow {
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.grow:hover {
  -webkit-transform: scale(1.2)!important;
  transform: scale(1.2)!important;
}

.project-container {
  height: 70vh
}

body {
 background: linear-gradient(to top left, paleturquoise, rgba(255, 153, 150, 0), lightsteelblue),
 linear-gradient(to top right, aliceblue, rgba(255, 153, 150, 0), lightslategray) rgba(255, 153, 150, 0);
};

#logo {
  border-style: solid;
  border-radius: 1em ;
}