<template name="activelySearchingPartners">
  <p>Dear {{contactName}},</p>

  <p>I am Oktay YATKIN and I am the president of <strong>"KIYIDOSK - KIYIKOY DOGA SPORLARI KULUBU DERNEGI"</strong>, an
    active NGO based in Kıyıköy, Turkey. We are writing you about your expression of interest in
    <strong>{{projectName}}</strong> published on <a href={{shortLink}}>Salto Otlas</a>. We want to express our interest
    in cooperating with your organization in your future projects, and you can directly contact us to develop project
    ideas together with our experts.</p>

  <p>KIYIDOSK commits to promoting the <strong>cultural, social, educational,</strong> and <strong>economic
      development</strong> at
    local, national,
    European, and international levels. KIYIDOSK contributes to growth and development through the active participation
    of people, civil society, and institutions, always valuing diversity.
  </p>

  <p>KIYIDOSK aims to develop and support cooperation in the Europe to encourage people, especially the most
    disadvantaged, to participate in public life and to promote their sense of initiative, entrepreneurial spirit and
    creativity, contribute to the development cultural diversity, social cohesion, sustainable development and combating
    all forms of discrimination fostering their mobility in Europe.</p>

  <p>The main area of interest is a physical activity used as a tool to promote health, well-being, and healthy
    lifestyles. We strongly believe that a more healthy and cohesive society can be created through sport.</p>

  <p>
    Sport is a useful educational tool to generate community, integration, acceptance, promote human rights, and
    equality. In our opinion, sports and education are inextricably linked and find their strongest connection in
    non-formal education.
  </p>

  <p><strong>Our objectives are:</strong></p>
  <ul>
    <li>To enable low-participation groups and disadvantaged populations to partake in sport and physical activity.
    </li>
    <li>To spread culture and new perspectives through formal and non-formal methods.</li>
    <li>To communicate and promote equality, diversity and inclusion.</li>
    <li>To promote linkage between schools, clubs and public institutions. To promote and embed inclusive learning,
      teaching
      and assessment.</li>
    <li>To empower communities to provide opportunities for participation in a variety of local programmes and events.
    </li>
    <li>To encourage the participation of young people in local and international activities.</li>
  </ul>


  <p>
    The members of our organization are connected by a strong spirit of solidarity and participation. Training and
    informing
    local communities and the European community about opportunities and possibilities is our objective but above all
    our
    mission.
  </p>



  <p>You can find below the following information:</p>
  <ul>
    <li><a href="https://kiyidosk.org/pif/"><strong>PIF – KIYIDOSK</strong></a></li>
    <li><a href="https://kiyidosk.org/projects/"><strong> KIYIDOSK projects</strong></a></li>
  </ul>

  <p>
    Have a good work and looking forward to collaborating with you.
  </p>

  <p>
    <strong>Oktay YATKIN<br>
      President <br>
      KIYIDOSK – KIYIKOY DOGA SPORLARI KULUBU DERNEGI <br>
    </strong>
    Email: euprojects@kiyidosk.org<br>
    Website: <a href="https://www.kiyidosk.org">www.kiyidosk.org</a> | <a
      href="https://www.facebook.com/kiyidosk">FB</a>
    | <a href="https://www.instagram.com/kiyidosk">IG</a> | <a href="https://www.twitter.com/kiyidosk">TW</a> | <a
      href="https://www.linkedin.com/company/kiyidosk">LI</a></p>
</template>